/Nhi_Crawler/build/
/Nhi_Crawler/nbproject/private/
/CurrencyRate/build/
/CurrencyRate/dist/
/CurrencyRate/nbproject/private/
/CurrencyRate_test/nbproject/private/
/Pixie/nbproject/private/
/Pixie/build/
/Pixie/dist/