<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>RequestServletListener</description>
        <listener-class>nhi.listener.RequestServletListener</listener-class>
    </listener>
    <listener>
        <description>MyContextListener</description>
        <listener-class>nhi.listener.MyContextListener</listener-class>
    </listener>
    <listener>
        <description>RequestGoldServletListener</description>
        <listener-class>nhi.listener.RequestGoldServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>nhi.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>nhi.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExchangeServlet</servlet-name>
        <servlet-class>nhi.servlets.ExchangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HighestRateServlet</servlet-name>
        <servlet-class>nhi.servlets.HighestRateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlCurrencyServlet</servlet-name>
        <servlet-class>nhi.servlets.CrawlCurrencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>nhi.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlGoldServlet</servlet-name>
        <servlet-class>nhi.servlets.CrawlGoldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRateServlet</servlet-name>
        <servlet-class>nhi.servlets.ShowRateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlCurrencyTodayServlet</servlet-name>
        <servlet-class>nhi.servlets.CrawlCurrencyTodayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlGoldTodayServlet</servlet-name>
        <servlet-class>nhi.servlets.CrawlGoldTodayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>nhi.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCurrencyRateServlet</servlet-name>
        <servlet-class>nhi.servlets.LoadCurrencyRateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExchangeServlet</servlet-name>
        <url-pattern>/ExchangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HighestRateServlet</servlet-name>
        <url-pattern>/HighestRateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlCurrencyServlet</servlet-name>
        <url-pattern>/CrawlCurrencyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlGoldServlet</servlet-name>
        <url-pattern>/CrawlGoldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRateServlet</servlet-name>
        <url-pattern>/ShowRateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlCurrencyTodayServlet</servlet-name>
        <url-pattern>/CrawlCurrencyTodayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlGoldTodayServlet</servlet-name>
        <url-pattern>/CrawlGoldTodayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCurrencyRateServlet</servlet-name>
        <url-pattern>/LoadCurrencyRateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
